name: Tests

on: [push]
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs:
  test_model:
    runs-on: ubuntu-latest
    name: Test stata can run against the model, using dummy data
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install git+https://${{ secrets.PRIVATE_REPO_ACCESS_TOKEN }}@github.com/ebmdatalab/opensafely-research-template.git#egg=opensafely-cohort-extractor
    - name: Docker Login
      uses: azure/docker-login@v1
      with:
        # It seems we can't do this with the standard GITHUB_TOKEN, but
        # have to use a personal token with the correct permissions instead
        login-server: docker.pkg.github.com
        username: sebbacon
        password: ${{ secrets.PACKAGE_READ_ACCESS_TOKEN }}
    - name: Generate dummy data
      run: cohortextractor generate_cohort --expectations-population=1000
    - name: Commit changes to dummy data
      uses: EndBug/add-and-commit@v4
      with:
        message: "Automatically generated dummy data"
        force: true
        add: "analysis/input*csv"
    - name: Update codelists
      run: cohortextractor update_codelists
    - name: Commit changes frozen codelists
      uses: EndBug/add-and-commit@v4
      with:
        message: "Automatically frozen codelists"
        add: "codelists/*csv"
    - name: Run model
      run: docker run --mount source=${{ github.workspace }},dst=/workspace,type=bind docker.pkg.github.com/opensafely/stata-docker/stata-mp analysis/model.do
